# importing_libraries

In [41]:
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.width', 100)
pd.set_option('display.max_columns', 100)
pd.options.display.float_format = '{:.2f}'.format

# data_wrangling

In [42]:
df = pd.read_csv(r"E:\ecommerce_dataset\data.csv", encoding='unicode_escape',index_col=[0],parse_dates=["InvoiceDate"])

# data_inspection

In [43]:
df.head(10)

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
InvoiceNo,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.00,United Kingdom
536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.00,United Kingdom
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.00,United Kingdom
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.00,United Kingdom
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.00,United Kingdom
536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.00,United Kingdom
536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.00,United Kingdom
536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.00,United Kingdom
536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.00,United Kingdom
536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.00,United Kingdom

In [44]:
df.columns

Index(['StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID',
       'Country'],
      dtype='object')

In [45]:
df=df.rename(columns={'StockCode':"Stock_Code", 'InvoiceDate':"Invoice_Date", 'UnitPrice':"Unit_Price", 'CustomerID':"Customer_ID"})

In [46]:
df.describe()

       Quantity  Unit_Price  Customer_ID
count 541909.00   541909.00    406829.00
mean       9.55        4.61     15287.69
std      218.08       96.76      1713.60
min   -80995.00   -11062.06     12346.00
25%        1.00        1.25     13953.00
50%        3.00        2.08     15152.00
75%       10.00        4.13     16791.00
max    80995.00    38970.00     18287.00

In [47]:
df = df.astype({"Customer_ID": str})

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 541909 entries, 536365 to 581587
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Stock_Code    541909 non-null  object
 1   Description   540455 non-null  object
 2   Quantity      541909 non-null  int64
 3   Invoice_Date  541909 non-null  datetime64[ns]
 4   Unit_Price    541909 non-null  float64
 5   Customer_ID   541909 non-null  object
 6   Country       541909 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 33.1+ MB

In [49]:
df['day'] = df['Invoice_Date'].dt.day
df['month'] = df['Invoice_Date'].dt.month
df['year'] = df['Invoice_Date'].dt.year
df['hour'] = df['Invoice_Date'].dt.hour

In [50]:
df.head(20)

,Stock_Code,Description,Quantity,Invoice_Date,Unit_Price,Customer_ID,Country,day,month,year,hour
InvoiceNo,,,,,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,1,12,2010,8
536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,1,12,2010,8
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,1,12,2010,8
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,1,12,2010,8
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,1,12,2010,8
536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,1,12,2010,8
536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,1,12,2010,8
536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,1,12,2010,8
536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,1,12,2010,8
536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,1,12,2010,8
536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,1,12,2010,8
536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,1,12,2010,8
536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom,1,12,2010,8
536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom,1,12,2010,8
536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom,1,12,2010,8
536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,1,12,2010,8
536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom,1,12,2010,8
536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,1,12,2010,8
536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,1,12,2010,8
536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom,1,12,2010,8

In [51]:
df.isnull().sum(axis=0)

Stock_Code         0
Description     1454
Quantity           0
Invoice_Date       0
Unit_Price         0
Customer_ID        0
Country            0
day                0
month              0
year               0
hour               0
dtype: int64

# dealing_with_duplicates

# inspect_duplicates and make a csv file for them

In [52]:
duplicates=df[df.duplicated(keep=False)]

In [53]:
#duplicates.to_csv("C:/Users/20114/OneDrive/Documents/GitHub/E-Commerce_EDA/dplicates.csv")

In [54]:
df.drop_duplicates(keep="first",inplace=True)

In [55]:
df.shape #check

(536061, 11)

In [56]:
df.head()

,Stock_Code,Description,Quantity,Invoice_Date,Unit_Price,Customer_ID,Country,day,month,year,hour
InvoiceNo,,,,,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,1,12,2010,8
536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,1,12,2010,8
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,1,12,2010,8
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,1,12,2010,8
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,1,12,2010,8

In [57]:
df[df["CustomerID"].isnull()]

KeyError: 'CustomerID'

# lets see the outliers before analysis

In [ ]:
import seaborn as sns
import numpy as np

# anlyzing outliers

## 1- quantity_outliers

In [ ]:
plt.figure(figsize = (6,12))
df.boxplot("Quantity")
plt.show()

In [ ]:
quantity_outliers=df[(df["Quantity"]>20000) | (df["Quantity"]<0)] # save it to csv file and a new data frame to analyze it separately

In [ ]:
len(quantity_outliers)

In [ ]:
#quantity_outliers.to_csv("C:/Users/20114/OneDrive/Documents/GitHub/E-Commerce_EDA/quantity_outliers.csv")

In [ ]:
quantity_outliers.head(20)

In [ ]:
quantity_outliers["CustomerID"].value_counts() # customers and their outliers

In [ ]:
quantity_outliers["StockCode"].value_counts() # products and their outliers

In [ ]:
quantity_outliers.loc[quantity_outliers.Quantity > 10000] # its ok (high amount order)

## 2- unitprice_outliers

In [ ]:
plt.figure(figsize = (6,12))
df.boxplot("UnitPrice")
plt.show()

In [ ]:
unitprice_outliers=df[(df["UnitPrice"]>10000) | (df["UnitPrice"]<0)] # save it to csv file and a new data frame to analyze it separately

In [ ]:
 len(unitprice_outliers)

In [ ]:
#unitprice_outliers.to_csv("C:/Users/20114/OneDrive/Documents/GitHub/E-Commerce_EDA/unitprice_outliers.csv")

In [ ]:
unitprice_outliers.head(20)

In [ ]:
unitprice_outliers.loc[(unitprice_outliers.UnitPrice < 0)|(unitprice_outliers.UnitPrice > 10000)] # its ok (bad debt & fees adjustment) i will analyze it

In [ ]:
unit_price_zero = df[(df["UnitPrice"]==0)]

In [ ]:
#unit_price_zero.to_csv("C:/Users/20114/OneDrive/Documents/GitHub/E-Commerce_EDA/unit_price_zero.csv") # getting unit prices = 0

# creating clean dataframe

### firstly concatenate all dirty data together

In [ ]:
dirty = df.index[(df.UnitPrice<=0)|(df.Quantity<=0)]

In [ ]:
df.head(10)

In [ ]:
clean=df.drop(dirty) # we removed unnecessary data in order to make true insights (assume they are truly dirty)

In [ ]:
clean["Revenue"]=clean["Quantity"]*clean["UnitPrice"] # make anew column with revenue

In [ ]:
clean.head()

In [ ]:
clean.describe()

## lets make some insights

### what are the top revenue & sales countries

In [ ]:
clean.groupby("Country")[["Quantity","Revenue"]].sum().sort_values(by=["Revenue","Quantity"],ascending=False)

In [ ]:
hours = [hour for hour , clean in clean.groupby("hour")]
hours2=range(1,25)
plt.figure(figsize=(15,10))
plt.plot(hours,clean.groupby("hour")["Country"].count())
plt.xticks(hours2)
plt.title("how many orders for each hour in the day")
plt.xlabel("order hours")
plt.ylabel(" count of orders")
plt.grid(axis="y")
plt.show()

In [ ]:
days = [day for day , clean in clean.groupby("day")]

plt.figure(figsize=(15,10))
plt.plot(days,clean.groupby("day")["Country"].count())
plt.xticks(days)
plt.xlabel("order days")
plt.ylabel(" count of orders")
plt.title("how many orders for each day in the month")
plt.grid(axis="y")
plt.show()

In [ ]:
clean.groupby(["Description","StockCode"])[["Quantity"]].sum().nlargest(40,"Quantity")

In [ ]:
clean.groupby(["Description","StockCode"])[["Revenue"]].sum().nlargest(40,"Revenue")

In [ ]:
clean.groupby(["Description","StockCode"])[["Revenue","Quantity"]].sum().nsmallest(20,"Revenue")

In [ ]:
clean.groupby(["CustomerID"])[["Quantity"]].sum().nlargest(40,"Quantity")

In [ ]:
clean.groupby(["CustomerID"])[["Revenue"]].sum().nlargest(40,"Revenue")